#tabelaAbrigados {
  width: 100%;
  margin-bottom: 1rem;
}

#tabelaAbrigados.loading {
  filter: blur(6px);
  opacity: .15;
}

#tabelaAbrigados * th {
  border: none;
  text-align: center;
  background-color: var(--default-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0.2em 0.5em;
}

#tabelaAbrigados * td {
  border: none;
  text-align: center;
  color: black;
  background-color: transparent;
  font-size: 20px;
  padding: 0.25rem 1rem;
}

#tabelaAbrigados * tr {
  background-color: white;
}

#tabelaAbrigados * tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tabelaAbrigados * td:last-child {
  word-wrap: break-word;
  width: 10em;
}

#tabelaAbrigados * td:last-child {
  word-wrap: break-word;
  width: 30em;
}

#tabelaAbrigados_info {
  display: none;
}

#tabelaAbrigados_wrapper {
  padding: 0;
  padding-top: 1em;

}


#divDeCima {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
}

#divDeCima.sticky {
  position: fixed;
  padding-top: calc(80px + 1em);
  top: 0;
  justify-content: space-between;
  z-index: 999;
  background-color: white;
  width: calc(100vw - 2rem);
}

#tabelaAbrigados {
  margin-top: calc(2rem);
}
  

.selectEstado {
  background-color: white;
  color: black;
  padding: 0.1rem 0.3rem;
  border: none;
  cursor: pointer;
  border-right: .6rem solid transparent;
  padding: .5rem 1rem;
  border-radius: 32px;
}


.wrapper-table {
  overflow-x: auto; /* Adiciona uma barra de rolagem horizontal */
}
.wrapper-table table {
  width: 100%; /* Faz a tabela ocupar toda a largura da div pai */
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  text-align: center;
}

.tbody-refeicao { 
  width: 100%;
}

.wrapper-table div {
  /* padding: 1em; */
}

#situacaoFilter {
  /* box-shadow: #bbb 0px 1px 2px inset; */
}

.search {
  display: none;
}
input {
  line-height: 1rem;
  padding-top: .5rem; 
  padding-bottom: .5rem;
  padding-left: .75rem;
  padding-right: .75rem;
  border-radius: 3px;
  border: solid 1px #999;
}

input:focus {
  outline: none;
  box-shadow:0 0 0 1px #fff,0 0 0 3px #428fdc;
}


/* HTML: <div class="loader"></div> */
#loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

#loader.loading {
  display: block;
}

@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}


@media (max-width: 1000px) {


  
}

@media (max-width: 768px) {

}



