.divider {
    width: 100%;
    margin-top: .2em;
    margin-bottom: .2em;
    border-top: 1px solid #b7e6c577;
  }
  
  #containerGeral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 50%;
  }
  
  #containerGeral div {
    text-align: center;
    width: 100%;
  }

  
  #containerGeral * p {
    font-weight: bold;
  }
  
  #salas{
    display: flex;
    flex-direction: column;
  }
  
  
  #salas .salaDiv div{
    padding: 0 .5em;
    display: flex;
    align-items: center;
    text-align: left !important;
    width: 100%;
    font-size: 1.2em;
    border-bottom: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
  }
  
  #salas .salaDiv {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  #salas .salaDiv div span {
    display: inline-block;
    margin-left: .3em;
    font-weight: bold;
  }

  .quadroGrande h5 {
        padding: .3em;
        margin: 0;
  }
  .quadroGrande h3 {
    padding: .5em;
    border: 1px solid #f3f3f3;
    border-top: 0;
    border-bottom: 0;
    margin: 0;
}

.quadroPequeno p{
  border: 1px solid #f3f3f3;
  font-size: 1.2em;
}

.quadroPequeno h5{
    padding: .3em;
    border-bottom: 1px solid #f3f3f3;
    margin: 0;
}

  .quadroPequeno p {
    margin: 0;
    text-align: center;
    padding: .3em;
    width: 100%;

  }

  .containerPequeno {
    display: flex;
  }

  #situacoes {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }

  #situacoes div {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #f8f8f8;
  }

  #situacoes div p {
    margin: 0;
  }

  #situacoes div span {
    margin: 0;
    padding: .3em;
    border-top: 1px solid #f8f8f8;
  }

  #salas h5 {
    padding: .3em;
    border-left: 0;
    margin: 0;
}

#totalAbrigadosTitle {
  background-color: rgb(189, 255, 189);
  border-top: 0;
  border-left: 0;
}

#totalAbrigadosTitle {
  background-color: rgb(189, 255, 189);
  border-top: 0;
  border-left: 0;
}

#totalJaAbrigadosTitle {
  background-color: black;
  color: white;
  border-top: 0;
  border-left: 0;
}

#totalDesocupacoesTitle {
  background-color: #ffc7cf;
  border-top: 0;
  border-left: 0;
}

#adultosTitle {
  background-color: #c9e1ff;
  border: 0;
}
#adolescentesTitle {
  background-color: #b8ffe7;
  border: 0;
}
#criançasTitle {
  background-color: #ffd7b2;
  border: 0;
}
#idososTitle {
  background-color: #ffcfef;
  border: 0;
}
#semDataTitle {
  background-color: #d4d4d4;
  border: 0;
}

#situacoesTitle {
  background-color:rgb(255, 247, 210);
  margin: 0;
  text-align: center;
  padding: .3em;
}

#salasTitle {
  background-color: #eddeff;
}

#almoco th{
  background-color: #01a4d1;
}

#almoco h4{
  padding: 1rem;
}

#criancasQuadro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#criancasQuadro .idades{
  width: 25%;
  font-size: 1.2em;
}

.quadroPequeno b {
  padding-left: .25rem;
}