#orientacoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.selecao {
    width: 50%;
    height: 10em;
    margin: 1em;
    font-size: 32px;
    border: 0;
    background-color: #c8e7bf;
    box-shadow: 1px
}

.selecao:hover {
    background-color: #cce4c4;
}