.saida {
    background-color: #b9fff2;
}

.abrigado {
    background-color: #b9ffc0;
}

.desocupou {
    background-color: #ebf1e5;
}

.ambulatorio {
    background-color: #ffbadb;
}

.verificar {
    background-color: #fff3b1;
}

.nao {
    background-color: #ffd4b9;
}

.trabalho {
    background-color: #cedfff;
}

.movido {
    background-color: #e8c4ff;
}

.obito {
    background-color: #d1d1d1;
}

.banho {
    background-color: #cef7ff;
}

.hospital {
    background-color: rgb(255, 174, 171);
}

.todos {
    background-color: #2e402e;
    color: white;
}

.abrigadosGeral {
    background-color: rgb(148, 255, 136);
}

.desocupacoesGeral {
    background-color: rgb(111, 167, 169);
}