<div class="form-group">
<label class="control-label col-sm-2" for="dataRegistro">Observação</label>
<div class="col-sm-8">
     <input type="date" id="dataRegistro" name="dataRegistro" class=" form-control"   />
</div>
</div>