
<button class="btn btn-secondary addRegistroHigiene" 
        data-id="{$abrigado->getId()}"
        data-tipo="7" 
        data-extra="refresh"
    > + Higiene </button>
<button class="btn btn-secondary addRegistroHigiene" 
        data-tipo="6" 
        data-id="{$abrigado->getId()}"
        data-extra="refresh"
    > + Limpeza </button>



<hr />
<button class="btn btn-terciary addRegistro" data-id="{$abrigado->getId()}"> Add Registro Geral </button>
