
<h3>É registro de foto para:</h3>
    <div id="orientacoes">
        <button class="selecao">
            <a style="display:flex; align-items: center; justify-content: center; width: 100%; height: 100%;" href="admin/abrigado/tirarFoto">
                Abrigado
            </a>
        </button>
        {* <button class="selecao">
            <a style="width: 100%; height: 100%;" href="admin/voluntario/tirarFoto">
                Voluntário
            </a>
        </button> *}
    </div>